#searchbar{
    padding-top:100px;
}
body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}
#humidity{
    color: white;
}
#temp,#humidity,#pres,#wind{
    color: rgb(20, 154, 187);
    font-size: large;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10%;
}
.title{
padding-top: 10%;
color: turquoise;
}